$fontPrincipal: 'Arial', monospace, 'Montserrat', sans-serif;
@font-face {
	font-family: Akira;
	src: url(../fonts/AkiraExpandedDemo.otf)
}


:root {
  //backgroundColors
  --bgLight:#3E3E3E;
  --bgMedium: #2a3244;
  --bgDark: #07080c;
  --bgBlack: #000000;
  --bgShadow: #181818b9;


  --GradiendDark: #536081;
  --GradientWhite: #a6b2d1;
  
  --icon: #1b202e;
  --iconBox: #7728FF10;

  
  --boxMedium:#232323;
  --boxDark: #1e1e1e;

 
  --boxShadowM: #141720;
  --boxShadowD: #17141b;



  --bgNav: #171b24; 
  --nav: #000000;
  

  --textWhite: rgba(114, 127, 197, 0.438);
  --textLight: rgb(102, 111, 163);
  --textMedium: rgba(183, 194, 255, 0.541);
  --textMediumGradient: rgb(167, 177, 233);
  --textDark: rgb(236, 236, 236);

  --purple: #682fca;
  --purple2: #5c25bb;
  --pink: #ff00c8;
  --pink2: #e654c6;


  --box: -7px -7px 20px 0 rgba(255, 255, 255, 0.055),
  7px 7px 20px 0 rgb(3, 3, 3);

  --boxHover: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.11),
  inset 7px 7px 20px 0 rgb(0, 0, 0);

  --imgHover:   0px 0px 50px 5px rgb(0, 0, 0);


  --boxsmall: -4px -4px 13px 0 rgba(219, 219, 219, 0.144),
  4px 4px 20px 0 rgba(3, 3, 3, 0.993);

  --boxsmallHover: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.096),
  inset 7px 7px 20px 0 rgba(3, 3, 3, 0.973);


  --bgImg: url("../img/bgDark.png");
  --bgBody: url("../img/bgBlack2.jpg");
  --bgHome: url("../img/crl.jpg");

  } 
  
  .darkMode:root {
    --bgLight: #F0FAFF;
    --bgMedium: #e2f2ff;
    --bgDark: #b4cefd;
    --bgBlack: #8bb4ff;
    --bgShadow: #e7f0ffb9;
    --bgNav: #000000b9;
    --icon: #d2deff;
    --iconShadow: #7ba9ff;

  
    --bgBox: #7728FF01;


    --boxMedium:#e9f1ff;
    --boxDark: #c4d8ff;


    --boxShadowM:#ebf3ff;
    --boxShadowD:#c4d7fd;

  
    --bgNav: #ccdeff; 
    --nav: #79a0e9;
    --theme: #001f53;


    --textWhite: rgba(118, 148, 192, 0.918);
    --textLight: rgb(90, 123, 173);
    --textMedium: rgb(25, 25, 58);
    --textDark: rgb(46, 48, 66);
    
    --purple: #682fca;
    --purple2: #7944d4;
    --pink: #ff00c8;
    --pink2: #ee65d0;





    
    --box: -7px -7px 20px 0 rgba(255, 255, 255, 0.541),
    7px 7px 20px 0 rgba(40, 56, 136, 0.404);

    --boxHover: inset  -7px -7px 20px 0 rgba(255, 255, 255, 0.726),
    inset 7px 7px 20px 0 rgba(40, 56, 136, 0.966);

    --boxsmall: -7px -7px 20px 0 rgba(255, 255, 255, 0.527),
    7px 7px 20px 0 rgba(40, 56, 136, 0.2);

    --boxsmallHover: inset  -7px -7px 20px 0 rgb(255,255,255),
    inset 7px 7px 6px 0 rgba(40, 56, 136, 0.4);

    --imgHover:   0px 0px 50px 5px var(--textLight); 

   



    --bgImg: url("../img/bgLight.png");
    --bgBody: url("../img/bgWhite2.jpg");
    --bgHome: url("../img/bgHome.jpg");

  }



  


@mixin botao {
  justify-content:space-between;
  align-items:center;
  text-align:center;
  // width: 120px;
  // height: 35px;
  display: inline-block;
  background: var(--bgDark);
  color: #7e96bb;
  border-radius: 12px;
  box-shadow: var(--box); 
  transition: all 1.3s ease;

  
  &:hover {
    color: #52698b;
    background: none;
    box-shadow: var(--boxHover)
  }
}

@mixin TextGradient{
  color: transparent;
  background-image: linear-gradient(to left, #ff00c8, #8605ff,  #6200ff,#591dff, #d83cff, #ff00c8 );
  -webkit-background-clip: text;
  --webkit-background-size: 500%;
  background-size: 500%;
  animation: gradient 6s linear infinite;

  @keyframes gradient {
      0%{
          background-position: 0 100%;
      }
      50%{
         background-position: 100% 0;
     }
     100%{
         background-position: 0 100%;
     }
  }
}

@mixin menuGradient{
  color: transparent;
 
  background-image: linear-gradient(to left, var(--GradiendDark), var(--GradiendDark),  var(--GradiendDark), var(--GradientWhite), var(--GradiendDark), var(--GradiendDark) );
  -webkit-background-clip: text;
  --webkit-background-size: 500%;
  background-size: 500%;
  animation: menugradient 6s infinite;

  @keyframes menugradient {
      100%{
          background-position: 0 100%;
      }
      0%{
         background-position: 100% 0;
     }
   
  }
}

@mixin PortfolioGradient{
  color: transparent;
 
  background-image: linear-gradient(to left, #beccf0, #beccf0,  #fff, #beccf0, #beccf0, #beccf0 );
  -webkit-background-clip: text;
  --webkit-background-size: 500%;
  background-size: 500%;
  animation: portfoliogradient 2s infinite;

  @keyframes portfoliogradient {
      0%{
          background-position: 0 100%;
      }
      100%{
         background-position: 100% 0;
     }
   
  }
}

@mixin pGradient{
  color: transparent;
  background-image: linear-gradient(to right,  var(--textMedium),  var(--textMediumGradient) );
  -webkit-background-clip: text;
  --webkit-background-size: 400%;
  background-size: 100%;
  animation: pgradient 3s;

  @keyframes pgradient {
      0%{
          background-position: 0 100%;
      }
      100%{
         background-position: 100% 0;
     }
   
  }
}

